.js_form {
  display: flex;
  position: relative;
  top: 30px;
}

.search,
.submit-btn {
  position: fixed;
  top: 30px;
}

.search {
  left: 500px;
  width: 1000px;
}

.submit-btn {
  top: 36px;
  width: 100px;
  //   left: 100px;
}

.gallery {
  margin-top: 100px;
}

.gallery,
.stats,
.js_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  margin-top: 20px;
}

.stats-item {
  margin-right: 50px;
}

.photo-card {
  margin-right: 50px;
}
